.overlay {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	width: 100%;
	height: 100%;


	.drawer {
		display: flex;
		flex-direction: column;
		width: 420px;
		height: 100%;
		top: 0px;
		right: 0;
		z-index: 3;
	
		background: #FFFFFF;
		box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
		position: absolute;
		padding: 30px;
		
		.items {
			flex: 1;
			overflow: auto;
		}
		
		h2 {
			padding: 0;
		}
		
		.cart__item {
			display: flex;
			align-items: center;
			border: 1px solid #F3F3F3;
			box-sizing: border-box;
			border-radius: 20px;
			padding: 20px;
			overflow: hidden;
			margin-bottom: 10px;

			p {
				font-size: 16px;
			}
			b{
				font-size: 14px;
			}

		}
	}
	.remove__btn {
		opacity: 0.5;
		transition: opacity 0.15s ease-in-out;
		cursor: pointer;
		&:hover {
			opacity: 1;
		}
	}

.cartTotalBlock {
	margin-top: 30px;

	li {
		display: flex;
		align-items: flex-end;
		margin-bottom: 30px;
	}
	div {
		flex: 1;
		height: 1px;
		position: relative;
		top: -4px;
		margin: 0 7px;
		border-bottom: 1px dashed #000;
	}


	.greenButton {
		align-items: center;
		border-radius: 18px;
		padding: 20px 30px 18px 50px;
		width: 100%;
		border: none;
		color: #fff;
		font-weight: 600;
		line-height: 19px;
		font-size: 16px;
		background: #9DD558;
		cursor: pointer;
		transition: background 0.1s ease-in-out;

		&:hover {
			background: lighten(#9DD558, 10%);
		}
		&:active {
			background: darken(#9DD558, 10%);
		}
	}
}

}
