header{
	border-bottom: 1px solid #eaeaea;
	p, h3 {
		margin: 0;
	}
}

.cart {
	cursor: pointer;
	margin-right: 30px;
	.logo {
		cursor: pointer;
		margin-right: 30px;
		transition: transform 0.3s ease-in-out;
		&:hover {
			transform: translateY(-5px);
		}
	}
}
.user {
	transition: transform 0.3s ease-in-out;
	&:hover {
		transform: translateY(-5px);
	}
}

